.custom-scroll {
  max-height: 300px;
  overflow-y: auto;
}

/* Custom Scrollbar for the container */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.reading-mode-container {
  transition: all 0.3s ease-in-out;
  display: grid;
  place-items: center;
}

.reading-mode-container.active {
  color: var(--primary-text-color);
  padding: 2rem;
  line-height: 1.8;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.toolbar button {
  background: var(--primary-button-bg);
  color: var(--primary-button-text);
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.toolbar button:hover {
  background: var(--primary-link-color);
}

.font-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.font-controls button {
  background: var(--primary-button-bg);
  color: var(--primary-button-text);
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}

.font-controls span {
  font-weight: bold;
  color: var(--primary-font-color);
}

.reading-content {
  padding: 1rem;
  line-height: 1.7;
  color: var(--primary-text-color);
}
